* {
    user-select: none;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/img/fundo-index.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(21,13,69);
    background: linear-gradient(170deg, rgba(21,13,69,0.9) 66%, rgba(0,0,0) 85%);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 250px;
    height: 250px;
}

.logo-title {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    cursor: pointer;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    height: 80%;
    box-shadow: 0px 10px 40px black;
    border-radius: 20px;
    padding: 40px;
    background: linear-gradient(170deg, rgba(21,13,69) 66%, rgba(0,0,0) 85%);    
}

.login h2{
    color: rgb(96, 102, 153);
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 0 0 1em;
}

.auto-login {
    cursor: pointer;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;

}

.login p {
    margin: 3em 0 3em 0;
    font-family: 'Oswald', sans-serif;
    color: rgb(96, 102, 153);
}

.login .box-user {
    position: relative;
}

.login .box-user input {
    width: 20vw;
    padding: 10px 20px 10px 20px;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgb(96, 102, 153);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}

.login .box-user label{
    position: absolute;
    color: #d3d3d3; 
    top: 0;
    left: 0;
    padding: 10px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.login form .box-user input:focus~label,
.login form .box-user input:valid~label
{
    top: -20px;
    left: 0;
    color: rgb(96, 102, 153);
    font-size: 12px;
}

.recover {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: rgb(96, 102, 153);
    float: right;
    cursor: pointer;
}

.termos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(96, 102, 153);
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

.termos a {
    font-size: 14px;
    margin-left: 5px;
    text-decoration: underline;
    color: rgb(96, 102, 153);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: rgb(96, 102, 153);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top: 1em;
    transition: .3s;
    border-radius: 5px;
    overflow: hidden;
}

.btn:hover {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(21,13,69);
}

.btn span{
    position: absolute;
    display: block;
}

.btn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, rgb(96, 102, 153));
    animation: btn1 1s linear infinite;
    animation-delay: 0.9s;
}

@keyframes btn1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(96, 102, 153));
    animation: btn2 1s linear infinite;
    animation-delay: .2s;
}

@keyframes btn2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.btn span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, rgb(96, 102, 153));
    animation: btn3 1s linear infinite;
    animation-delay: .4s;
}

@keyframes btn3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(96, 102, 153));
    animation: btn4 1s linear infinite;
    animation-delay: 0.6s;
}

@keyframes btn4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}