/* HOME */
* {
    user-select: none;
    box-sizing: border-box;
}

body {
    background-image: url("fundo-index.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main {
    background: rgb(21,13,69);
    background: linear-gradient(170deg, rgba(21,13,69,0.8) 66%, rgba(0,0,0) 85%);
    height: 100vh;
}

.header {
    background: rgb(21,13,69, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: changeBackgroundColor 7s infinite;
}

.icone {
    width: 70px;
    height: 70px;
}

.navegacao {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 22px;
}

.navegacao-especifica {
    margin-left: 2em;
}

.navegacao a:hover {
    color:  rgb(96, 102, 153);
}

.acesso{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    margin: 20px;
    margin-right: 2em;
}

.acesso p {
    margin: 0 .3em 0 .3em;
    font-weight: 10;
    font-size: 30px;
}

.entrar:hover, .cadastro:hover {
    color: rgb(96, 102, 153);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container .texto {
    color: white;
    position: relative;
    max-width: 600px;
    top: 0;
    margin-left: 5em;
}

.container .texto h2 {
    color: azure;
    font-size: 12em;
    font-weight: 700;
    color: white;
    text-shadow: 6px 6px 10px black;
}

h2::after {
    content: '|';
    margin-left:  10px;
    opacity: 1;
    animation: efeitodig .7s infinite;
    font-size: .75em;
}

@keyframes efeitodig {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.container .texto p {
    color:rgb(96, 102, 153);
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: justify;
}

/* ALTERNATIVO */

.main-alternativo {
    background: rgb(21,13,69);
    background: linear-gradient(170deg, rgba(21,13,69,1) 66%, rgba(0,0,0) 85%);
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
}

.logo {
    margin-left: -2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
}

/* SOBRE */

.sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -5em;
}

.texto-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.texto-sobre h2{
    font-size: 4em;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 .5em 0;
}

.texto-sobre h3 {
    font-size: px;
    color: rgb(96, 102, 153);
    font-family: 'Poppins', sans-serif;
}

.avatar {
    width: 27em;
    transition: all .6s;
}

.avatar:hover {
    transition: all .5s;
    scale: 1.1;
}

.pessoal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pessoal .profissao {
    font-size: 30px;
    color: rgb(96, 102, 153);
    padding: 0.3em;
    font-family: 'Poppins', sans-serif;
}

.pessoal .nome{
    font-size: 40px;
    color: rgb(251, 251, 253);
    font-family: 'Poppins', sans-serif;
}

.btn-sobre {
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;;
    border-radius: 7px;
    background: rgb(96, 102, 153);
    color: #fff;
    width: 8em;
    height: 4vh;
}



/* CONTATO*/

.titulo-contato {
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 5em;
}

.redes i{
    margin: 1.5em 1.5em 0 1em;
    color: rgb(96, 102, 153);
    font-size: 70px;
}

.redes .nome{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 1em 1em -1em;
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
